node_modules
node_modules_
_node_modules
node_modules_bak

out/
__out/
build/

*.DS_Store
*.js.map
*.css.map
tmp_/
tmp
.tmp_/

_report/rebuild.log
_report/make.log

/_dist/
/_sublime/
/_data/history
/_data/history/*
/_data/favorites
/_data/favorites/*
/_data/lastrules/
/_data/lastrules/*
/_data/log
/_data/log/*
/_data/tmp
/_data/tmp/*
/_data/caches
/_data/caches/*
/_data/packages
/_data/packages/*
/_data/packages_dev/*
/_data/packages_dev
/_data/packages_tmp_updates
/_data/packages_tmp_updates/*
/_data/hidden
/_data/hidden/*
/_data/news
/_data/news/*
/_data/typebox_notes
/_data/typebox_notes/*
/_data/typebox_notes*
/_data/app_status

/_data_fast/history
/_data_fast/history/*
/_data_fast/favorites
/_data_fast/favorites/*
/_data_fast/lastrules
/_data_fast/lastrules/*
/_data_fast/log
/_data_fast/log/*
/_data_fast/tmp
/_data_fast/tmp/*
/_data_fast/caches
/_data_fast/caches/*
/_data_fast/packages
/_data_fast/packages/*
/_data_fast/packages_tmp_updates
/_data_fast/packages_tmp_updates/*
/_data_fast/packages_dev
/_data_fast/packages_dev/*
/_data_fast/hidden
/_data_fast/hidden/*
/_data_fast/news
/_data_fast/news/*
/_data_fast/typebox_notes
/_data_fast/typebox_notes/*
/_data_fast/typebox_notes_1/
/_data_fast/typebox_notes*
/_data_fast/app_status

/_data_test/history
/_data_test/history/*
/_data_test/favorites
/_data_test/favorites/*
/_data_test/lastrules
/_data_test/lastrules/*
/_data_test/log
/_data_test/log/*
/_data_test/tmp
/_data_test/tmp/*
/_data_test/caches
/_data_test/caches/*
/_data_test/packages
/_data_test/packages/*
/_data_test/packages_tmp_updates
/_data_test/packages_tmp_updates/*
/_data_test/packages_dev
/_data_test/packages_dev/*
/_data_test/hidden
/_data_test/hidden/*
/_data_test/news
/_data_test/news/*
/_data_test/typebox_notes
/_data_test/typebox_notes/*
/_data_test/typebox_notes*
/_data_test/app_status

/_data_capture/history
/_data_capture/history/*
/_data_capture/favorites
/_data_capture/favorites/*
/_data_capture/lastrules
/_data_capture/lastrules/*
/_data_capture/log
/_data_capture/log/*
/_data_capture/tmp
/_data_capture/tmp/*
/_data_capture/caches
/_data_capture/caches/*
/_data_capture/packages
/_data_capture/packages/*
/_data_capture/packages_tmp_updates
/_data_capture/packages_tmp_updates/*
/_data_capture/packages_dev
/_data_capture/packages_dev/*
/_data_capture/hidden
/_data_capture/hidden/*
/_data_capture/news
/_data_capture/news/*
/_data_capture/typebox_notes
/_data_capture/typebox_notes/*
/_data_capture/app_status
!/_data_capture/packages_dev/typebox-capture/
!/_data_capture/packages_dev/typebox-capture/*

/_packages_dev
/_packages_dev/*
/_sub_pry
/_sub_pry/*
/_sub_der
/_sub_der/*
tb_workspace.sublime-workspace

v8-compile-cache-0
/v8-compile-cache-0/*

electron-forge
electron-packager

log.txt
*/log/log.txt

*json.bak
*json.last
_inc_*.css

_data/user/*
!_test/_data/user/user_settings.json

records.json

app/js/bundle.js
npm-debug.log
npm-debug.log*

yarn-error.log
package-lock.log

typebox-gist-sync_user_settings.json

compileCache*

_choco/tools/*.exe
_choco/tools/*.nupkg
_choco/*.nupkg

cachesMacIcons
cachesMacIcons/*
caches_icons
caches_icons/*

*_tb_transpiled.js
_tb_transpiled.js

app/css/atom-one-dark.css
app/css/atom-one-light.css
app/css/hljs.css
app/css/monokai-sublime.css
app/css/styleCmirror.css
app/css/mrdoob_stats.css
app/css/styleNotes.css
app/css/style.css.map
app/css/style.css
app/css/*.map
app/packages_dev
app/packages_dev/*

last_status.json

_electrons

typebox-gist-sync-dev_user_settings.json

.gistsynchash

static_telegram_react
static_telegram_react_old