node_modules
out/
build/

*.DS_Store
*.js.map
tmp_/
tmp
.tmp_/

/_dist/
/_sublime/
/_data/history
/_data/favorites
/_data/lastrules
/_data/log/
/_data/log/*
/_data/tmp/
/_data/tmp/*
/_data/caches
/_data/caches/*
/_data/packages
/_data/packages/*
/_data/packages_tmp_updates
/_data/packages_tmp_updates/*
/_data/hidden
/_data/hidden/*
/_data/news
/_data/news/*

_test//_data/*
/_test/_data/history
/_test/_data/log
/_test/_data/favorites
/_test/_data/caches
/_test/_data/hidden
/_test/_data/news
/_test/_data/packages
/_test/_data/packages/*
/_test/_data/packages_tmp_updates
/_test/_data/packages_tmp_updates/*

v8-compile-cache-0
/v8-compile-cache-0/*

electron-forge
electron-packager

log.txt
*/log/log.txt

*json.bak
*json.last
_inc_*.css

_data/user/*
!_test/_data/user/user_settings.json

records.json

app/js/bundle.js
npm-debug.log
npm-debug.log*

yarn.lock
yarn-error.log
package-lock.json
package-lock.log

typebox-gist-sync_user_settings.json

compileCache*

choco/tools/*.exe
choco/tools/*.nupkg
choco/*.nupkg