body,
body.typebox {
/*Colors*/
  --scale: 1;
  --backColor: #293039;
  --backDarkColor: #293039;
  --backLightColor: #2d3742;
  --accentColor: #4ec0a3;
  --cursorColor: #c0cbcc;
  --textLowColor: #ccd8d9;
  --textHighColor: #fff;
  --hrTagColor: #3b4c54;
  --iframeBlendMode: initial;
/*Sizes*/
  --padding: calc(18px * var(--scale));
  --searchBoxHeight: calc(82px * var(--scale));
  --itemHeight: calc(54px * var(--scale));
  --statusBarHeight: calc(28px * var(--scale));
/**/
  --iconSize: calc(32px);
  --iconSizeSmall: calc(24px);
  --propRulesView: 45%;
  --propRulesViewMax: 480px;
/*Opacity*/
  --lowOpacity: 0.25;
  --medOpacity: 0.5;
  --hiOpacity: 0.75;
/*Times*/
  --animSpeedFactor: 1;
  --timeSpin: 0.25s;
/*Font*/
  --mainFont: "Roboto-Light", "SF Pro Display", sans-serif;
  --mainFontWeight: 300;
  --mainSearchFontSize: calc(28px * var(--scale));
  --ruleNameFontSize: calc(15px * var(--scale));
  --smallFontSize: calc(11px * var(--scale));
  --codeFontSize: calc(13px * var(--scale));
  --codeBigFontSize: calc(14px * var(--scale));
/**/
  --minWidth: 400px;
}
body.big {
  --scale: 1.15 !important;
  --padding: 20px;
  --searchBoxHeight: 94px;
  --itemHeight: 62px;
  --statusBarHeight: 32px;
}
body.small {
  --scale: 0.85 !important;
  --padding: 15px;
  --searchBoxHeight: 70px;
  --itemHeight: 46px;
  --statusBarHeight: 24px;
}
body.atom {
  --backColor: #282c34;
  --backDarkColor: #282c34;
  --backLightColor: #2f333d;
  --accentColor: #568af2;
  --textLowColor: #98a0af;
  --textHighColor: #fff;
  --cursorColor: #fff;
  --hrTagColor: #2f333d;
}
body.cream {
  --backColor: #fafafa;
  --backDarkColor: #fafafa;
  --backLightColor: #f1efee;
  --accentColor: #5dac7b;
  --textLowColor: #363636;
  --textHighColor: #1f1f1f;
  --cursorColor: #1f1f1f;
  --hrTagColor: #e2e2e2;
  --lowOpacity: 0.5;
  --medOpacity: 0.75;
  --hiOpacity: 0.9;
  --iframeBlendMode: multiply;
}
body.monokai {
  --backColor: #373831;
  --backDarkColor: #373831;
  --backLightColor: #4d4e43;
  --accentColor: #e8dc6c;
  --cursorColor: #c8c8c8;
  --textLowColor: #c8c8c8;
  --textHighColor: #fff;
}
body.citylights {
  --backColor: #252d35;
  --backDarkColor: #252d35;
  --backLightColor: #2a3038;
  --accentColor: #4383eb;
  --cursorColor: #cbd1e1;
  --textLowColor: #cbd1e1;
  --textHighColor: #fff;
}
body.material {
  --backColor: #263238;
  --backDarkColor: #263238;
  --backLightColor: #344a4e;
  --accentColor: #89ddff;
  --cursorColor: #eff;
  --textLowColor: #eff;
  --textHighColor: #fff;
}
body.adobe {
  --backColor: #424242;
  --backDarkColor: #424242;
  --backLightColor: #535353;
  --accentColor: #46a0f5;
  --cursorColor: #ddd;
  --textLowColor: #ddd;
  --textHighColor: #fff;
}
body.macri-gato {
  --backColor: #f9dc00;
  --backDarkColor: #f9dc00;
  --backLightColor: #e8cd00;
  --accentColor: #fff;
  --cursorColor: #000;
  --textLowColor: #404040;
  --textHighColor: #000;
}
body.vscode {
  --backColor: #1e1e1e;
  --backDarkColor: #1e1e1e;
  --backLightColor: #252526;
  --accentColor: #007acc;
  --cursorColor: #acacac;
  --textLowColor: #ccc;
  --textHighColor: #fff;
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: var(--mainFontWeight);
  font-style: normal;
}
html {
  overflow: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}
html,
html body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--mainFont);
  font-weight: var(--mainFontWeight);
  zoom: 1 !important;
}
#content {
  margin: 0;
  padding: 0;
  position: relative;
}
#inner-content {
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
}
html,
body,
#content,
#inner-content {
  min-width: var(--minWidth);
  overflow-x: hidden;
}
.dragWindow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 32px;
  text-align: right;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  z-index: 5;
}
#boxContentWrapper {
  min-height: 100vh;
}
.hidden {
  display: none !important;
}
.animate-spin {
  animation: spin var(--timeSpin) infinite linear;
  display: inline-block;
}
.animate-disappear {
  animation: disappear 0.75s linear;
}
.no-animate-disappear {
  -webkit-opacity: 1;
}
.canDisapppear:not(.no-animate-disappear),
pointer-events:not(.no-animate-disappear),
.scrollTrackEl:not(.no-animate-disappear),
.canDisapppear.animate-disappear,
pointer-events.animate-disappear,
.scrollTrackEl.animate-disappear {
  -webkit-opacity: 0;
}
.main_ico,
.ruleIconContext {
  vertical-align: top;
  text-align: center;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  width: calc(var(--iconSize) * 1.8);
  margin-left: calc(var(--iconSize) * -0.4);
  margin-right: calc(var(--iconSize) * 0.1);
  font-size: var(--iconSize);
}
.main_ico:before,
.ruleIconContext:before {
  line-height: var(--itemHeight) !important;
  font-size: var(--iconSize);
}
.main_ico.small_ico,
.ruleIconContext.small_ico {
  font-size: var(--iconSizeSmall);
}
.main_ico.small_ico:before,
.ruleIconContext.small_ico:before {
  font-size: var(--iconSizeSmall);
}
.main_ico wrappIcon {
  display: block;
  transform: translateY(calc((var(--itemHeight) - var(--iconSize)) * 0.5));
}
.main_ico wrappIcon svg {
  height: var(--iconSize);
  width: auto;
  filter: drop-shadow(0 1px 0 rgba(0,0,0,0.35));
}
.main_ico wrappIcon img {
  height: var(--iconSize);
}
.main_ico.small_ico wrappIcon {
  transform: translateY(calc((var(--itemHeight) - var(--iconSizeSmall)) * 0.5));
}
.main_ico.small_ico wrappIcon svg {
  height: var(--iconSizeSmall);
}
.main_ico.small_ico wrappIcon img {
  height: var(--iconSizeSmall);
}
.main_ico.animate-spin-ico wrappIcon svg,
.main_ico.animate-spin-ico wrappIcon img {
  animation: spin var(--timeSpin) infinite linear;
}
.main_ico.noShadow:before {
  text-shadow: none !important;
}
.main_ico.noShadow wrappIcon svg {
  filter: none !important;
}
.main_ico.noShadow wrappIcon img {
  filter: none !important;
}
.ruleContext .main_ico,
.pathIndicator .main_ico {
  line-height: 1;
}
.ruleContext .main_ico:before,
.pathIndicator .main_ico:before {
  line-height: var(--searchBoxHeight) !important;
}
.ruleContext .main_ico wrappIcon,
.pathIndicator .main_ico wrappIcon {
  transform: translateY(calc((var(--searchBoxHeight) - var(--iconSize)) * 0.5));
}
.ruleContext .main_ico.small_ico wrappIcon,
.pathIndicator .main_ico.small_ico wrappIcon {
  transform: translateY(calc((var(--searchBoxHeight) - var(--iconSizeSmall)) * 0.5));
}
.ruleIconContext {
  width: calc(var(--iconSizeSmall) * 1);
  float: right;
  margin-right: calc(var(--iconSizeSmall) * -0.25);
  margin-left: calc(var(--iconSizeSmall) * 0.4);
}
.ruleIconContext.smallContext {
  width: calc(var(--iconSizeSmall) * 1 * 0.75);
  margin-left: calc(var(--iconSizeSmall) * 0.4 * 0.75);
  height: var(--itemHeight);
  line-height: var(--itemHeight);
}
.ruleIconContext.smallContext i {
  zoom: 0.75;
}
#boxContentWrapper {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  user-select: none;
}
#mainSearchWrapper {
  width: auto;
  padding: 0 var(--padding);
  height: var(--searchBoxHeight);
  position: relative;
  overflow: hidden;
}
#mainSearchWrapper .pathIndicator .pathName {
  font-family: var(--mainFont);
  font-size: var(--smallFontSize);
  letter-spacing: 0.25px;
}
#mainSearch,
#mainSearchCopy,
#searchResult,
#searchResultWrapp {
  outline: none;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  width: 86%;
  overflow: hidden;
  line-height: 2;
  font-size: var(--mainSearchFontSize);
  font-family: var(--mainFont);
  letter-spacing: 0.1px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-weight: var(--mainFontWeight);
}
#searchResultWrapp {
  top: 50%;
}
#mainSearchCopy {
  -webkit-opacity: 0;
}
#mainSearchCopy,
#searchResult {
  line-height: var(--searchBoxHeight);
  transform: translate(0, 0);
  top: initial;
  left: initial;
  position: relative;
  display: inline-block;
  letter-spacing: 0.1px;
  width: auto;
  pointer-events: none;
  user-select: none;
}
#searchResult {
  margin-left: 5px;
}
.mainSearchIcon {
  position: absolute;
  right: var(--padding);
  top: 50%;
  transform: translate(0, -50%);
  font-size: var(--iconSizeSmall);
}
.ruleList {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
.ruleListCelda,
.ruleContext {
  position: relative;
}
.ruleListCelda,
.ruleContext,
.pathIndicator {
  cursor: pointer;
  overflow: hidden;
  margin: 0;
  width: auto;
  height: var(--itemHeight);
  min-height: var(--itemHeight);
  padding: 0 var(--padding);
}
.ruleListCelda span.ruleNameAndDesc,
.ruleContext span.ruleNameAndDesc,
.pathIndicator span.ruleNameAndDesc {
  width: calc(100% - 120px);
  display: inline-block;
  overflow: hidden;
  margin: 0;
  line-height: var(--itemHeight);
  height: var(--itemHeight);
}
.ruleListCelda span.ruleNameAndDesc.newRule:after,
.ruleContext span.ruleNameAndDesc.newRule:after,
.pathIndicator span.ruleNameAndDesc.newRule:after {
  content: "new!";
  display: block;
  position: absolute;
  top: 50%;
  margin-top: 2px;
  right: 58px;
  line-height: 1.2;
  padding: 2px 5px;
  border-radius: 2px;
  text-align: center;
  pointer-events: none;
  font-size: var(--smallFontSize);
  transform: translate(0%, -50%);
  drop-shadow: 0 1px 0 rgba(0,0,0,0.25);
}
.ruleListCelda span.ruleName,
.ruleContext span.ruleName,
.pathIndicator span.ruleName {
  display: block;
  letter-spacing: 0px;
  margin: 0;
  font-size: var(--ruleNameFontSize);
  height: calc(var(--itemHeight) * 0.7);
  line-height: calc(var(--itemHeight) * 0.9);
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ruleListCelda span.ruleDescription,
.ruleContext span.ruleDescription,
.pathIndicator span.ruleDescription {
  width: calc(100% - 100px);
  letter-spacing: 0.25px;
  display: block;
  margin: 0;
  font-size: var(--smallFontSize);
  text-rendering: optimizeLegibility;
  height: calc(var(--itemHeight) * 0.3);
  line-height: calc(var(--itemHeight) * 0.15);
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ruleListCelda .ruleInfo,
.ruleContext .ruleInfo,
.pathIndicator .ruleInfo {
  position: absolute;
  top: 2px;
  width: auto;
  right: calc(var(--padding) + var(--iconSize) * 1.85);
  letter-spacing: 0.25px;
  font-size: var(--smallFontSize);
  line-height: var(--itemHeight);
}
.ruleListCelda.noDesc span.ruleDescription,
.ruleContext.noDesc span.ruleDescription,
.pathIndicator.noDesc span.ruleDescription {
  display: none;
}
.ruleListCelda.noDesc span.ruleName,
.ruleContext.noDesc span.ruleName,
.pathIndicator.noDesc span.ruleName {
  font-size: var(--ruleNameFontSize);
  height: calc(var(--itemHeight) * 1);
  line-height: calc(var(--itemHeight) * 1);
  white-space: nowrap;
}
.ruleContext,
.pathIndicator {
  padding-right: 0;
  padding-left: 0;
}
.contextTitle,
.pathIndicator .pathName {
  line-height: var(--searchBoxHeight);
  font-size: calc(var(--ruleNameFontSize) * 1.5);
  max-width: 85vh;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pathIndicator .pathName {
  position: absolute;
  top: -10px;
  margin-left: 2px;
  line-height: calc(var(--searchBoxHeight) * 0.75);
  font-size: calc(var(--ruleNameFontSize) * 1.5);
  width: auto;
  text-transform: lowercase;
}
.ruleListCelda.celd_loading {
  pointer-events: none !important;
  text-align: center;
}
.ruleListCelda.celd_loading .ruleInfo {
  display: none;
}
.ruleListCelda.celd_loading span.ruleName {
  text-align: center;
  text-transform: uppercase;
}
.ruleListCelda {
  background-color: transparent;
}
.ruleListCelda.highLight,
.ruleListCelda.highLight .ruleInfo {
  transition: none;
}
#status-bar {
  display: block;
  height: var(--statusBarHeight);
  padding: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  letter-spacing: 0.25px;
  font-size: var(--smallFontSize);
  text-rendering: optimizeLegibility;
  line-height: calc(var(--statusBarHeight));
  width: 100%;
}
#status-bar > span {
  display: block;
  padding-left: var(--padding);
  padding-right: var(--padding);
}
#status-bar .infoDer {
  float: right;
  line-height: calc(var(--statusBarHeight));
}
.mousetrapCapture {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  -webkit-opacity: 0;
}
pointer-events,
.scrollTrackEl {
  position: absolute;
  width: 2px;
  height: 36px;
  top: 0;
  right: 0;
  margin: 4px;
  border-radius: 0;
  transition: transform calc(0.1s * var(--animSpeedFactor)) cubic-bezier(0.19, 1, 0.22, 1), -webkit-opacity calc(0.45s * var(--animSpeedFactor)) cubic-bezier(0.19, 1, 0.22, 1);
}
.animsEnabled .ruleListCelda,
.animsEnabled .ruleListCelda .ruleInfo {
  transition: all calc(0.3s * var(--animSpeedFactor)) cubic-bezier(0.19, 1, 0.22, 1);
}
.animsEnabled .ruleListCelda.toDeletedCss {
  margin-top: calc(var(--itemHeight) * -1);
  transition: all calc(0.3s * var(--animSpeedFactor)) cubic-bezier(0.19, 1, 0.22, 1);
}
.animsEnabled .scrollTrackEl {
  transition: all calc(0.3s * var(--animSpeedFactor)) cubic-bezier(0.19, 1, 0.22, 1);
}
html,
body {
  background: transparent;
}
#content {
  background: var(--backColor);
}
#mainSearch {
  color: var(--cursorColor);
}
#mainSearchCopy,
#searchResult {
  color: var(--textHighColor);
  color: var(--accentColor);
}
.contextTitle {
  color: var(--textHighColor);
}
.pathIndicator .pathName {
  color: var(--textHighColor);
  -webkit-opacity: var(--hiOpacity);
}
#mainSearchWrapper,
#status-bar {
  background-color: var(--backDarkColor);
}
.ruleListCelda .ruleInfo {
  color: var(--backColor);
  -webkit-opacity: 0.1;
}
.ruleListCelda .ruleInfo.showRuleScore {
  color: var(--textLowColor);
  -webkit-opacity: 0.6;
}
.ruleListCelda .ruleIconContext i {
  color: var(--textLowColor);
  -webkit-opacity: var(--medOpacity);
}
.ruleListCelda .ruleIconContext i.mdi-star {
  -webkit-opacity: var(--hiOpacity);
  color: var(--accentColor);
}
.ruleListCelda .ruleIconContext i:hover {
  -webkit-opacity: 1;
}
span.ruleName,
.mainSearchIcon {
  color: var(--textLowColor);
}
.ruleListCelda span.ruleDescription {
  color: var(--textLowColor);
  -webkit-opacity: var(--lowOpacity);
}
.colorDefault {
  color: var(--accentColor);
}
.colorDefault svg path {
  fill: var(--accentColor);
}
span.ruleNameAndDesc.newRule:after {
  color: var(--backColor);
  background-color: var(--accentColor);
  -webkit-opacity: 1;
}
.ruleList:not(.mouseActivated_NO) .ruleListCelda.highLight {
  background-color: var(--backLightColor);
}
.ruleList:not(.mouseActivated_NO) .ruleListCelda.highLight .ruleName {
  color: var(--textHighColor);
}
.ruleList:not(.mouseActivated_NO) .ruleListCelda.highLight .ruleDescription {
  -webkit-opacity: var(--hiOpacity);
}
.ruleList:not(.mouseActivated_NO) .ruleListCelda.highLight .newRule:after {
  color: var(--textHighColor);
  background-color: var(--accentColor);
}
.ruleList.mouseActivated_NO .ruleListCelda:hover {
  background-color: var(--backLightColor);
}
.ruleViewer {
  color: var(--textLowColor);
}
.ruleViewer p {
  color: var(--textLowColor);
}
.ruleViewer h1,
.ruleViewer h2,
.ruleViewer h3,
.ruleViewer h4,
.ruleViewer h5 {
  color: var(--textLowColor);
}
.ruleViewer h1,
.ruleViewer h2,
.ruleViewer h3,
.ruleViewer h4 {
  border-bottom: 1px solid var(--hrTagColor);
}
.ruleViewer h1,
.ruleViewer h2,
.ruleViewer h3,
.ruleViewer h4,
.ruleViewer h1 a,
.ruleViewer h2 a,
.ruleViewer h3 a,
.ruleViewer h4 a,
.ruleViewer h1 p,
.ruleViewer h2 p,
.ruleViewer h3 p,
.ruleViewer h4 p {
  color: var(--accentColor);
}
.ruleViewer table,
.ruleViewer td,
.ruleViewer th {
  color: var(--textLowColor);
}
.ruleViewer a {
  color: var(--textHighColor);
}
.ruleViewer a:visited {
  color: var(--accentColor);
}
.ruleViewer ul,
.ruleViewer ol {
  color: var(--textLowColor);
}
.ruleViewer pre:not(.noBack) {
  background-color: var(--backLightColor);
}
.ruleViewer pre:not(.noBack).noBack {
  background-color: transparent;
}
.ruleViewer pre {
  font-size: var(--codeFontSize);
}
.ruleViewer pre.big {
  font-size: var(--codeBigFontSize);
}
.ruleViewer pre > span,
.ruleViewer code,
.ruleViewer code[class] {
  font-family: 'Roboto Mono', Consolas, Monaco, monospace;
  font-weight: var(--mainFontWeight);
  white-space: normal;
  font-size: var(--codeFontSize);
  line-height: 1.6;
}
.ruleViewer pre > span.noBack,
.ruleViewer code.noBack,
.ruleViewer code[class].noBack,
pre.noBack .ruleViewer pre > span,
pre.noBack .ruleViewer code,
pre.noBack .ruleViewer code[class] {
  background-color: transparent;
}
.ruleViewer pre > span.big,
.ruleViewer code.big,
.ruleViewer code[class].big,
.big .ruleViewer pre > span,
.big .ruleViewer code,
.big .ruleViewer code[class] {
  font-size: var(--codeBigFontSize);
}
.ruleViewer .extraMargin {
  padding-left: var(--padding);
  padding-right: var(--padding);
}
.ruleViewer .word-wrap {
  word-wrap: break-word;
}
.ruleViewer blockquote {
  border-left: 2px var(--accentColor) solid;
  padding-left: 8px;
  margin-left: 20px;
  margin-bottom: 2em;
}
.ruleViewer hr {
  border-top-color: var(--hrTagColor);
}
.ruleViewer iframe,
.ruleViewer webview {
  background-color: #fff;
}
.ruleViewer .ruleViewerWrapp {
  color: var(--textHighColor);
}
.ruleViewer Loading:after {
  background-color: var(--accentColor);
}
.ruleViewer buttonsviewer a {
  background-color: var(--accentColor);
}
.ruleViewer buttonsviewer a:before {
  color: var(--backColor);
}
.ruleViewer code.preWhiteSpace {
  white-space: pre;
}
.ruleViewerWrapp::-webkit-scrollbar,
scrollExtend::-webkit-scrollbar,
iframe::-webkit-scrollbar,
webview::-webkit-scrollbar,
.ruleViewer .hljs::-webkit-scrollbar {
  background-color: transparent !important;
  background: transparent !important;
}
.ruleViewerWrapp::-webkit-scrollbar-thumb,
scrollExtend::-webkit-scrollbar-thumb,
iframe::-webkit-scrollbar-thumb,
webview::-webkit-scrollbar-thumb,
.ruleViewer .hljs::-webkit-scrollbar-thumb {
  background: transparent !important;
}
.ruleViewerWrapp::-webkit-scrollbar-thumb:vertical,
scrollExtend::-webkit-scrollbar-thumb:vertical,
iframe::-webkit-scrollbar-thumb:vertical,
webview::-webkit-scrollbar-thumb:vertical,
.ruleViewer .hljs::-webkit-scrollbar-thumb:vertical {
  border-right: solid 2px var(--accentColor);
}
.ruleViewerWrapp::-webkit-scrollbar-thumb:horizontal,
scrollExtend::-webkit-scrollbar-thumb:horizontal,
iframe::-webkit-scrollbar-thumb:horizontal,
webview::-webkit-scrollbar-thumb:horizontal,
.ruleViewer .hljs::-webkit-scrollbar-thumb:horizontal {
  border-bottom: solid 2px var(--accentColor);
}
#status-bar {
  color: var(--textLowColor);
  background: var(--backColor) !important;
  z-index: 10;
}
.scrollTrackEl {
  background-color: var(--accentColor);
}
.boxContentWrapperList .listadoRules {
  background-color: var(--backColor);
}
.boxContentWrapperList {
  position: relative;
}
.boxContentWrapperList .listadoRules {
  position: relative;
  width: 100%;
  display: block;
  z-index: 4;
  max-width: 100%;
  transition: width calc(0.1s * var(--animSpeedFactor)) cubic-bezier(0.19, 1, 0.22, 1), max-width calc(0.1s * var(--animSpeedFactor)) cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0.2s;
}
.boxContentWrapperList .ruleViewer {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - var(--propRulesView));
  min-width: calc(100% - var(--propRulesViewMax));
  display: block;
  z-index: 1;
  mix-blend-mode: var(--iframeBlendMode);
  user-select: initial;
}
.boxContentWrapperList .ruleViewer.noBlend {
  mix-blend-mode: initial;
}
.boxContentWrapperList.withViewer .listadoRules {
  width: var(--propRulesView);
  max-width: var(--propRulesViewMax);
  transition: width calc(0.2s * var(--animSpeedFactor)) cubic-bezier(0.19, 1, 0.22, 1), max-width calc(0.2s * var(--animSpeedFactor)) cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0.4s;
}
.ruleViewer {
  height: 100%;
}
.ruleViewer h1,
.ruleViewer h2,
.ruleViewer h3,
.ruleViewer h4,
.ruleViewer h5 {
  font-weight: var(--mainFontWeight);
}
.ruleViewer table,
.ruleViewer td,
.ruleViewer th {
  border: none;
}
.ruleViewer table {
  zoom: 0.85;
}
.ruleViewer a {
  cursor: pointer;
}
.ruleViewer i {
  font-style: normal;
}
.ruleViewer ul,
.ruleViewer ol {
  padding: 0;
  padding-left: 15px;
}
.ruleViewer hr {
  height: 0px;
  overflow: hidden;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top-width: 1px;
  border-top-style: solid;
  margin-top: 2em;
  margin-bottom: 2em;
/**/
}
.ruleViewer iframe,
.ruleViewer webview {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  border-radius: 4px;
}
.ruleViewer iframe.withTrans,
.ruleViewer webview.withTrans {
  transition: none;
}
.ruleViewer .ruleViewerWrapp {
  font-size: var(--ruleNameFontSize);
  line-height: 1.4;
  letter-spacing: 0;
  width: calc(100% - (var(--padding) * 2));
  height: calc(100% - (var(--padding) * 0.5));
  padding: 0;
  margin: 0 var(--padding);
  overflow: auto;
}
.ruleViewer Loading {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.ruleViewer Loading:after {
  content: " ";
  position: absolute;
  top: calc(50% - var(--iconSize) / 2);
  left: calc(50% - var(--iconSize) / 2);
  width: var(--iconSize);
  height: var(--iconSize);
  animation: spin var(--timeSpin) infinite linear;
  -webkit-mask-position: 50% 50%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'><path fill='#fff' d='M25.3 6.5C15 6.5 6.6 14.8 6.6 25h4c0-8 6.6-14.5 14.7-14.5v-4z'/></svg>");
}
.ruleViewer buttonsviewer {
  position: absolute;
  bottom: calc(var(--padding) * 1);
  right: calc(var(--padding) * 1.4);
}
.ruleViewer buttonsviewer a {
  cursor: pointer;
  display: inline-block;
  width: var(--iconSize);
  height: var(--iconSize);
  border-radius: 100%;
  font-size: 0;
}
.ruleViewer buttonsviewer a:hover {
  -webkit-opacity: 0.9;
}
.ruleViewer buttonsviewer a:before {
  font-size: calc(var(--iconSizeSmall) * 0.8);
  display: block;
  width: var(--iconSize);
  height: var(--iconSize);
  text-align: center;
  line-height: calc(var(--iconSize) * 1);
}
.ruleViewer .frameInLoad iframe,
.ruleViewer .frameInLoad webview,
.ruleViewer .frameInLoad buttonsviewer,
.ruleViewer .frameInLoad .webview {
  -webkit-opacity: 0;
}
.ruleViewer .frameInLoad Loading {
  position: absolute;
  top: calc(var(--padding) * -0.25);
  left: 0;
}
.ruleViewer .frameLoaded Loading {
  display: none;
}
.ruleViewer .frameLoaded iframe,
.ruleViewer .frameLoaded webview,
.ruleViewer .frameLoaded buttonsViewer,
.ruleViewer .frameLoaded .webview {
  -webkit-opacity: 1;
}
.hideObj {
  visibility: hidden;
}
.markdownViewm,
.webview,
.markdownViewm td,
.webview td {
  font-size: 14px;
}
.markdownViewm,
.webview {
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.markdownViewm,
.webview,
.markdownViewm *,
.webview * {
  line-height: 1.6;
}
.markdownViewm tt,
.webview tt,
.markdownViewm code,
.webview code,
.markdownViewm pre,
.webview pre {
  font-family: 'Roboto Mono', Consolas, Monaco, monospace;
}
.markdownViewm h1,
.webview h1 {
  font-size: 1.8em;
  padding-bottom: 0.3em;
  line-height: 1.25;
}
.markdownViewm h1:first-child,
.webview h1:first-child {
  margin-top: 0;
  padding-top: 0;
}
.markdownViewm h2,
.webview h2 {
  font-size: 1.6em;
  padding-bottom: 0.3em;
  line-height: 1.25;
}
.markdownViewm h3,
.webview h3,
.markdownViewm h4,
.webview h4 {
  font-size: 1.4em;
  line-height: 1.25;
}
.markdownViewm h5,
.webview h5,
.markdownViewm h6,
.webview h6 {
  font-size: 1.2em;
  line-height: 1.25;
}
.markdownViewm pre,
.webview pre,
.markdownViewm img,
.webview img {
  max-width: 100%;
}
.markdownViewm pre,
.webview pre {
  border-radius: 4px;
  margin-top: 1.5em;
  margin-bottom: 3.5em;
}
.markdownViewm pre code,
.webview pre code {
  display: block;
  padding: 0.5em;
}
.markdownViewm code,
.webview code {
  border: none;
}
.markdownViewm code[class],
.webview code[class] {
  border: none;
}
.markdownViewm blockquote,
.webview blockquote {
  margin: 0;
  padding-left: 8px;
  margin-left: 20px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
pre a,
code a {
  text-decoration: none !important;
}
h1 .improve-docs,
h2 .improve-docs,
h3 .improve-docs,
h4 .improve-docs,
h5 .improve-docs,
h6 .improve-docs,
pre .improve-docs,
code .improve-docs {
  display: none !important;
}
._attribution,
._attribution-p {
  font-size: 0.85em;
  -webkit-opacity: 0.7;
  margin-top: 4em;
}
body.isDark .ruleViewer .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}
body.isDark .ruleViewer .hljs-comment,
body.isDark .ruleViewer .hljs-quote {
  color: #5c6370;
  font-style: italic;
}
body.isDark .ruleViewer .hljs-doctag,
body.isDark .ruleViewer .hljs-keyword,
body.isDark .ruleViewer .hljs-formula {
  color: #c678dd;
}
body.isDark .ruleViewer .hljs-section,
body.isDark .ruleViewer .hljs-name,
body.isDark .ruleViewer .hljs-selector-tag,
body.isDark .ruleViewer .hljs-deletion,
body.isDark .ruleViewer .hljs-subst {
  color: #e06c75;
}
body.isDark .ruleViewer .hljs-literal {
  color: #56b6c2;
}
body.isDark .ruleViewer .hljs-string,
body.isDark .ruleViewer .hljs-regexp,
body.isDark .ruleViewer .hljs-addition,
body.isDark .ruleViewer .hljs-attribute,
body.isDark .ruleViewer .hljs-meta-string {
  color: #98c379;
}
body.isDark .ruleViewer .hljs-built_in,
body.isDark .ruleViewer .hljs-class .hljs-title {
  color: #e6c07b;
}
body.isDark .ruleViewer .hljs-attr,
body.isDark .ruleViewer .hljs-variable,
body.isDark .ruleViewer .hljs-template-variable,
body.isDark .ruleViewer .hljs-type,
body.isDark .ruleViewer .hljs-selector-class,
body.isDark .ruleViewer .hljs-selector-attr,
body.isDark .ruleViewer .hljs-selector-pseudo,
body.isDark .ruleViewer .hljs-number {
  color: #d19a66;
}
body.isDark .ruleViewer .hljs-symbol,
body.isDark .ruleViewer .hljs-bullet,
body.isDark .ruleViewer .hljs-link,
body.isDark .ruleViewer .hljs-meta,
body.isDark .ruleViewer .hljs-selector-id,
body.isDark .ruleViewer .hljs-title {
  color: #61aeee;
}
body.isDark .ruleViewer .hljs-emphasis {
  font-style: italic;
}
body.isDark .ruleViewer .hljs-strong {
  font-weight: bold;
}
body.isDark .ruleViewer .hljs-link {
  text-decoration: underline;
}
body.isLight .ruleViewer .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #383a42;
  background: #fafafa;
}
body.isLight .ruleViewer .hljs-comment,
body.isLight .ruleViewer .hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}
body.isLight .ruleViewer .hljs-doctag,
body.isLight .ruleViewer .hljs-keyword,
body.isLight .ruleViewer .hljs-formula {
  color: #a626a4;
}
body.isLight .ruleViewer .hljs-section,
body.isLight .ruleViewer .hljs-name,
body.isLight .ruleViewer .hljs-selector-tag,
body.isLight .ruleViewer .hljs-deletion,
body.isLight .ruleViewer .hljs-subst {
  color: #e45649;
}
body.isLight .ruleViewer .hljs-literal {
  color: #0184bb;
}
body.isLight .ruleViewer .hljs-string,
body.isLight .ruleViewer .hljs-regexp,
body.isLight .ruleViewer .hljs-addition,
body.isLight .ruleViewer .hljs-attribute,
body.isLight .ruleViewer .hljs-meta-string {
  color: #50a14f;
}
body.isLight .ruleViewer .hljs-built_in,
body.isLight .ruleViewer .hljs-class .hljs-title {
  color: #c18401;
}
body.isLight .ruleViewer .hljs-attr,
body.isLight .ruleViewer .hljs-variable,
body.isLight .ruleViewer .hljs-template-variable,
body.isLight .ruleViewer .hljs-type,
body.isLight .ruleViewer .hljs-selector-class,
body.isLight .ruleViewer .hljs-selector-attr,
body.isLight .ruleViewer .hljs-selector-pseudo,
body.isLight .ruleViewer .hljs-number {
  color: #986801;
}
body.isLight .ruleViewer .hljs-symbol,
body.isLight .ruleViewer .hljs-bullet,
body.isLight .ruleViewer .hljs-link,
body.isLight .ruleViewer .hljs-meta,
body.isLight .ruleViewer .hljs-selector-id,
body.isLight .ruleViewer .hljs-title {
  color: #4078f2;
}
body.isLight .ruleViewer .hljs-emphasis {
  font-style: italic;
}
body.isLight .ruleViewer .hljs-strong {
  font-weight: bold;
}
body.isLight .ruleViewer .hljs-link {
  text-decoration: underline;
}
.ruleViewer.hljs:not(.untouched),
.ruleViewer .hljs:not(.untouched) {
  background: none !important;
  overflow: visible !important;
  overflow-x: visible !important;
}
.ruleViewer .hljs:not(.untouched) {
  padding: 0;
}
.ruleViewer pre:not(.untouched) {
  margin: 0;
}
body.isDark .ruleViewer .hljs:not(.untouched) {
  color: var(--textLowColor);
}
body.isLight .ruleViewer .hljs:not(.untouched) {
  color: var(--textLowColor);
}
body.isLight .ruleViewer pre:not(.noBack),
body.isLight .ruleViewer .hljs:not(.noBack),
body.isLight .ruleViewer code:not(.noBack) {
  background-color: var(--backLightColor);
}
.ruleViewer h1:first-child,
.ruleViewer h2:first-child {
  margin-top: 0;
  padding-top: 0;
}
.ruleViewer h2 code,
.ruleViewer h2 pre {
  font-size: 1em;
}
.ruleViewer h3 code,
.ruleViewer h3 pre {
  font-size: 1em;
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@-moz-keyframes disappear {
  0%, 75% {
    -webkit-opacity: 1;
  }
  100% {
    -webkit-opacity: 0;
  }
}
@-webkit-keyframes disappear {
  0%, 75% {
    -webkit-opacity: 1;
  }
  100% {
    -webkit-opacity: 0;
  }
}
@-o-keyframes disappear {
  0%, 75% {
    -webkit-opacity: 1;
  }
  100% {
    -webkit-opacity: 0;
  }
}
@keyframes disappear {
  0%, 75% {
    -webkit-opacity: 1;
  }
  100% {
    -webkit-opacity: 0;
  }
}
