@charset "UTF-8";

@font-face {
  font-family: "feather";
  src: url("feather-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

[class^="feather-"],
[class*=" feather-"] {
  font-family: "feather";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
}

.feather-eye:before {content: "\e000";}
.feather-paper-clip:before {content: "\e001";}
.feather-mail:before {content: "\e002";}
.feather-mail:before {content: "\e002";}
.feather-toggle:before {content: "\e003";}
.feather-layout:before {content: "\e004";}
.feather-link:before {content: "\e005";}
.feather-bell:before {content: "\e006";}
.feather-lock:before {content: "\e007";}
.feather-unlock:before {content: "\e008";}
.feather-ribbon:before {content: "\e009";}
.feather-image:before {content: "\e010";}
.feather-signal:before {content: "\e011";}
.feather-target:before {content: "\e012";}
.feather-clipboard:before {content: "\e013";}
.feather-clock:before {content: "\e014";}
.feather-clock:before {content: "\e014";}
.feather-watch:before {content: "\e015";}
.feather-air-play:before {content: "\e016";}
.feather-camera:before {content: "\e017";}
.feather-video:before {content: "\e018";}
.feather-disc:before {content: "\e019";}
.feather-printer:before {content: "\e020";}
.feather-monitor:before {content: "\e021";}
.feather-server:before {content: "\e022";}
.feather-cog:before {content: "\e023";}
.feather-heart:before {content: "\e024";}
.feather-paragraph:before {content: "\e025";}
.feather-align-justify:before {content: "\e026";}
.feather-align-left:before {content: "\e027";}
.feather-align-center:before {content: "\e028";}
.feather-align-right:before {content: "\e029";}
.feather-book:before {content: "\e030";}
.feather-layers:before {content: "\e031";}
.feather-stack:before {content: "\e032";}
.feather-stack-2:before {content: "\e033";}
.feather-paper:before {content: "\e034";}
.feather-paper-stack:before {content: "\e035";}
.feather-search:before {content: "\e036";}
.feather-zoom-in:before {content: "\e037";}
.feather-zoom-out:before {content: "\e038";}
.feather-reply:before {content: "\e039";}
.feather-circle-plus:before {content: "\e040";}
.feather-circle-minus:before {content: "\e041";}
.feather-circle-check:before {content: "\e042";}
.feather-circle-cross:before {content: "\e043";}
.feather-square-plus:before {content: "\e044";}
.feather-square-minus:before {content: "\e045";}
.feather-square-check:before {content: "\e046";}
.feather-square-cross:before {content: "\e047";}
.feather-microphone:before {content: "\e048";}
.feather-record:before {content: "\e049";}
.feather-skip-back:before {content: "\e050";}
.feather-rewind:before {content: "\e051";}
.feather-play:before {content: "\e052";}
.feather-pause:before {content: "\e053";}
.feather-stop:before {content: "\e054";}
.feather-fast-forward:before {content: "\e055";}
.feather-skip-forward:before {content: "\e056";}
.feather-shuffle:before {content: "\e057";}
.feather-repeat:before {content: "\e058";}
.feather-folder:before {content: "\e059";}
.feather-umbrella:before {content: "\e060";}
.feather-moon:before {content: "\e061";}
.feather-thermometer:before {content: "\e062";}
.feather-drop:before {content: "\e063";}
.feather-sun:before {content: "\e064";}
.feather-cloud:before {content: "\e065";}
.feather-cloud-upload:before {content: "\e066";}
.feather-cloud-download:before {content: "\e067";}
.feather-upload:before {content: "\e068";}
.feather-download:before {content: "\e069";}
.feather-location:before {content: "\e070";}
.feather-location-2:before {content: "\e071";}
.feather-map:before {content: "\e072";}
.feather-battery:before {content: "\e073";}
.feather-head:before {content: "\e074";}
.feather-briefcase:before {content: "\e075";}
.feather-speech-bubble:before {content: "\e076";}
.feather-anchor:before {content: "\e077";}
.feather-globe:before {content: "\e078";}
.feather-box:before {content: "\e079";}
.feather-reload:before {content: "\e080";}
.feather-share:before {content: "\e081";}
.feather-marquee:before {content: "\e082";}
.feather-marquee-plus:before {content: "\e083";}
.feather-marquee-minus:before {content: "\e084";}
.feather-tag:before {content: "\e085";}
.feather-power:before {content: "\e086";}
.feather-command:before {content: "\e087";}
.feather-alt:before {content: "\e088";}
.feather-esc:before {content: "\e089";}
.feather-bar-graph:before {content: "\e090";}
.feather-bar-graph-2:before {content: "\e091";}
.feather-pie-graph:before {content: "\e092";}
.feather-star:before {content: "\e093";}
.feather-arrow-left:before {content: "\e094";}
.feather-arrow-right:before {content: "\e095";}
.feather-arrow-up:before {content: "\e096";}
.feather-arrow-down:before {content: "\e097";}
.feather-volume:before {content: "\e098";}
.feather-mute:before {content: "\e099";}
.feather-content-right:before {content: "\e100";}
.feather-content-left:before {content: "\e101";}
.feather-grid:before {content: "\e102";}
.feather-grid-2:before {content: "\e103";}
.feather-columns:before {content: "\e104";}
.feather-loader:before {content: "\e105";}
.feather-bag:before {content: "\e106";}
.feather-ban:before {content: "\e107";}
.feather-flag:before {content: "\e108";}
.feather-trash:before {content: "\e109";}
.feather-expand:before {content: "\e110";}
.feather-contract:before {content: "\e111";}
.feather-maximize:before {content: "\e112";}
.feather-minimize:before {content: "\e113";}
.feather-plus:before {content: "\e114";}
.feather-minus:before {content: "\e115";}
.feather-check:before {content: "\e116";}
.feather-cross:before {content: "\e117";}
.feather-move:before {content: "\e118";}
.feather-delete:before {content: "\e119";}
.feather-menu:before {content: "\e120";}
.feather-archive:before {content: "\e121";}
.feather-inbox:before {content: "\e122";}
.feather-outbox:before {content: "\e123";}
.feather-file:before {content: "\e124";}
.feather-file-add:before {content: "\e125";}
.feather-file-subtract:before {content: "\e126";}
.feather-help:before {content: "\e127";}
.feather-open:before {content: "\e128";}