@font-face {
	font-family: "SourceSansPro-Light";
	src: url("node_modules/npm-font-source-sans-pro/fonts/WOFF2/OTF/SourceSansPro-Light.otf.woff2") format("woff2");
	font-weight: var(--mainFontWeight);
	font-style: normal;
}

:root, html, body {
	--mainFont: "SourceSansPro-Light", sans-serif;
	--mainFontWeight: 300;
}

